* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
}

/* MENU ICON */
.menu-icon {
  cursor: pointer;
  display: inline-block;

  top: 1rem;
  left: 1rem;
  position: absolute;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  background-color: #111;
}

.change-icon .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change-icon .bar2 {
  opacity: 0;
}

.change-icon .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* ICON BAR */
.nav-bar {
  width: 70px;
  left: 1rem;
  position: absolute;
  border-radius: 10px;
  transition: all 0.5s ease;

  top: 50%;
  transform: translateY(-50%);
  background-color: #111;
}

.nav-bar a {
  display: block;
  padding: 16px;
  text-align: center;
  color: white;
  font-size: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-bar a:hover {
  cursor: pointer;
  border-radius: 10px;
  color: #111;
  background-color: rgba(255, 255, 255, 0.868);
}

.hide {
  display: none;
  transition: all 0.5 ease;
}

.active {
  border-radius: 10px;
  background-color: #4caf50;
}

/* MAIN TAB */
#main-tab {
  width: 50%;
  height: 50%;
  padding: 30px;

  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #111;

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.main__header {
  margin: 10px;
  padding: 20px;

  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
}

#date-time-text {
  cursor: pointer;
  padding: 5px;
  background-color: #333;
}

/* DATE AND TIME */
.date-time {
  margin: 10px;
  padding: 10px;
  width: 70%;
  text-align: center;

  color: #17d4fe;
  font-size: 100px;
  letter-spacing: 10px;

  border-radius: 10px;
  display: inline-block;
  background-color: #111;

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

#date {
  margin: 10px;
  padding: 10px;
  font-size: 90%;
  font-weight: 800;
  font-family: 'Antic Didone', serif;
}

#time {
  margin: 10px;
  padding: 10px;
  font-family: 'Orbitron', sans-serif;
}
